.page-title {
  font-size: 20px;
  padding-left: 16px;
  margin: 16px 0 6px;
  color: #333;
  font-weight: bold;
  text-align: left;
}

.section-hash {
  font-size: 16px;
  padding-left: 16px;
  margin-bottom: 12px;
  color: #4f81bd;
  font-weight: bold;
  text-align: left;
}

.school-container {
  padding: 16px;
}

.school-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.school-info {
  background-color: #f6faff;
  padding: 16px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  text-align: left;
}

.school-info p {
  margin-bottom: 12px;
}

.school-note {
  margin-top: 10px;
  padding-left: 20px;
  list-style: none;
}

.school-note li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 16px;
}

.school-note li .dot {
  position: absolute;
  left: 0;
  top: 0;
  color: #3b82f6;
}

.school-btn {
  display: block;
  margin: 0 auto 40px;
  padding: 10px 20px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.blue {
  color: #3b82f6;
}

.dot {
  color: #3b82f6;
  margin-right: 4px;
}